
<% 
  movie_lists = [
    "now_playing",
    "popular",
    "top_rated",
    "upcoming"
  ]
%>

<div class="flex flex-col gap-10">
  <% movie_lists.each do |movie_list| %>
    <%= render "shareds/components/movie_cards", type: movie_list %>
  <% end %>
</div>